<%- include('partials/head', { title: 'Ocoffee - Accueil' }) %>

<div class="main-content">
    <div class="hero">
        <section class="introduction">
            <h1>oCoffee</h1>
            <p>Jean et Jacques Pepper, deux frères passionnés par le café, sont les fondateurs de notre boutique. Avec une expertise approfondie et un amour profond pour cette délicieuse boisson, ils ont créé un espace où le café est célébré comme une expérience raffinée et inspirante.</p>
            <a class="btn" href="/catalogue">Voir le catalogue</a>
        </section>

        <section class="image-section">
            <img src="/visuals/about.jpg" alt="Jolie image de cafés">
        </section>
    </div>

    <section class="nouveautes">
        <h2>Nouveautés</h2>
        <div class="produits">
            <% coffees.forEach(coffee => { %>
                <div class="produit">
                    <img src="/visuals/coffees/<%= coffee.reference %>.png" alt="Image du produit">
                    <p><%= coffee.name %></p>
                    <a class="btn" href="/produit/<%= coffee.id %>">Découvrir</a>
                </div>
            <% }); %>
        </div>
    </section>
</div>

<%- include('partials/foot') %>
