<%- include('partials/head', { title: 'Catalogue - oCoffee' }) %>

<div class="main-content">
    <section class="catalog-header">
        <div class="catalog-title">
            <h1>Notre catalogue</h1>
        </div>
    </section>

    <section class="products">
        <% for (const coffee of coffees) { %>
            <div class="product">
                <img src="/visuals/coffees/<%= coffee.reference %>.png" alt="<%= coffee.name %>">
                <p><%= coffee.name %></p>
                <a class="btn" href="/produit/<%= coffee.id %>">Découvrir</a>
            </div>
        <% } %>
    </section>
</div>

<%- include('partials/foot') %>