<%- include('partials/head', { title: 'Détails du produit - oCoffee' }) %>

<div class="main-content">
    <section class="product-illustration">
        <img src="/visuals/coffees/<%= coffee.reference %>.png" alt="Illustration du produit">
    </section>

    <section class="product-details">
        <h1><%= coffee.name %></h1>
        <p class="publication-date">Publié le <%= new Date().toLocaleDateString() %></p>
        <p><%= coffee.description %></p>
        <p>Origine : <%= coffee.origin %></p>
        <p>Prix au kilo : <%= coffee.pricekg %> €</p>
        <p>Caractéristique principale : <%= coffee.main_characteristic %></p>
        <a class="btn" href="/catalogue">Voir le catalogue</a>
    </section>
</div>

<%- include('partials/foot') %>

